@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark_1: #181818;
  --dark_2: #474747;
  --dark_3: #757575;
  --dark_4: #a3a3a3;
  --dark_5: #d1d1d1;
  --dark_6: #e8e8e8;
  --dark_7: #f3f3f3;
  --white: #ffffff;
  --section_bg: #fff8f3;
  --orange: #fd6e0a;
}

/* Header Section */

.header {
  background-color: var(--section_bg);
}

/* Nav Section */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.nav_logo {
  font-size: 3em;
  font-weight: 900;
  padding: 5px 20px;
  border-radius: 10px;
}

.nav_logo:hover{
    cursor: pointer;
    background-color: var(--dark_5);
}

.nav_list {
  display: flex;
  gap: 20px;
}

.nav_list li {
  list-style: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.hire_me {
  background-color: var(--orange);
}

.hire_me:hover{
    background-color: #f19757;
}

.nav_list li a {
  text-decoration: none;
  color: var(--dark_2);
  font-weight: 700;
}

.text_primary {
  color: var(--orange);
}

.hire_me .hire_text{
    color: var(--white);
}

.hover:hover{
    background-color: var(--dark_5);
}