@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark_1: #181818;
  --dark_2: #474747;
  --dark_3: #757575;
  --dark_4: #a3a3a3;
  --dark_5: #d1d1d1;
  --dark_6: #e8e8e8;
  --dark_7: #f3f3f3;
  --white: #ffffff;
  --section_bg: #fff8f3;
  --orange: #fd6e0a;
}

/* Header Section */

.header {
  background-color: var(--section_bg);
  background-image: url('../images/developer.png'),
    url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: left, bottom right;
}

/* Nav Section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 8%;
}

.nav_logo {
  font-size: 3em;
  font-weight: 900;
  padding: 5px 20px;
  border-radius: 10px;
}

.nav_logo:hover {
  cursor: pointer;
  background-color: var(--dark_5);
}

.nav_list {
  display: flex;
  gap: 20px;
}

.nav_list li {
  list-style: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.hire_me {
  background-color: var(--orange);
}

.hire_me:hover {
  background-color: #f19757;
}

.nav_list li a {
  text-decoration: none;
  color: var(--dark_2);
  font-weight: 700;
}

.text_primary {
  color: var(--orange);
}

.hire_me .hire_text {
  color: var(--white);
}

.hover:hover {
  background-color: var(--dark_5);
}

/* Hero Section */

.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4% 0 8%;
}

.hero_title{
    text-align: left;
}

.hero_title h3{
    font-size: 45px;
    color: var(--dark_2);
    font-weight: 600;
    padding-bottom: 10px;
}

.hero_title h1{
    font-size: 85px;
    font-weight: 800;
    color: var(--dark_1);
    padding-bottom: 10px;
}

.hero_title p{
    color: var(--dark_3);
    padding-bottom: 20px;
}

.hero_title button{
    padding: 10px 30px;
    margin-right: 20px;
}

.btn_1{
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.btn_1 img{
    margin-right: 10px;
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
    
}

.btn_2{
    color: var(--orange);
    background-color: var(--white);
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.btn_2 img{
    height: 16px;
    width: 16px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.btn_1, .btn_2:hover{
  cursor: pointer;
}

/* About Section */

.about{
  background-color: var(--section_bg);
  width: 80%;
  margin: 120px auto 0;
  padding: 100px 8%;
  text-align: center;
  border-radius: 10px;
}

.about_me{
  background-color: var(--white);
  margin: auto;
  border-radius: 10px;
}

.about_me h2{
  color: var(--dark_1);
  font-size: 35px;
  font-weight: 700;
  margin: 20px auto 30px;
}

.about_me .about_text{
  color: var(--dark_3);
  margin: 0 13% 30px;
}

.info{
  display: flex;
  justify-content: space-around;
  color: var(--dark_3);
  padding-bottom: 20px;
}

.info span{
  color: var(--dark_2);
  font-weight: 700;
}

/* What I Do Section */

.what_i_do{
  margin: 200px auto 0;
  width: 80%;
  text-align: center;
}

.what_i_do h1{
  color: var(--dark_1);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}

.what_i_do .experience{
  margin: 0 20% 60px;
  color: var(--dark_3);
}

.card_prime{
  display: flex;
  justify-content: space-around;
  text-align: left;
  gap: 40px;
}

.card{
  padding: 3%;
  border: 1px solid var(--dark_6);
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--dark_6);
}

.card h3{
  color: var(--dark_1);
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.card P{
  font-size: 14px;
  color: var(--dark_3);
  line-height: 30px;
}